.card-container{
    background:rgb(230, 247, 255);
    padding: 2rem;
    border-radius: 10px;
}
.card--Wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.main-title{
    color: rgb(0, 102, 102);
    padding-bottom: 10px;
    font-size: 15px;
}
.payement--card{
    background: rgb(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 260px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}
.payement--card:hover{
    transform: translateY(-5px);
}
.card--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.account{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 12px;
    font-weight: 200;
}
.account-value{
    font-size: 24px;
    font-weight: 600;
}
.ico{
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: rgb(0, 102, 102);
}
.card-detail{
    font-size: 18px;
    color: #777777;
    letter-spacing: 2px;
}
/* color css*/
.light-red{
    background: rgb(251, 233, 233);
}
.light-purple{
    background: rgb(254, 226, 254);
}
.light-green{
    background: rgb(235, 254, 235);
}
.light-blue{
    background: rgb(236, 236, 254);
}
.dark-red{
    background: red;
}
.dark-purple{
    background: purple;
}
.dark-green{
    background: green;
}
.dark-blue{
    background: blue;
}
/*tabular section */
.tabular--Wrapper{
    background: rgb(230, 247, 255);
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}
.tableau{
    width: 50rem;
    text-align: center;
    overflow: scroll;
    border-collapse: collapse;
    cursor: pointer;
    margin-left: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
}
.tableau-container{
    width: 95%;
    height: 405px;
    overflow-y: hidden;
}
.table-container{
    width: 95%;
    height: 405px;
    overflow-y: hidden;
}
.tableau th td{
    width: 15px;
    padding: 15px;
    text-align: left;
}

table{
    width: 1600px;
    text-align: center;
    overflow: scroll;
    border-collapse: collapse;
    cursor: pointer;
}
thead{
    background: rgb(0, 102, 102);
    color: #fff;
}
th:nth-child(){
    width: 160px;
    height: 20px;
    position: absolute;
    z-index: 1;
    background: inherit;
    padding: 20px;
}

th{
    width: 200px;
    padding: 20px;
    text-align: left;
}
tbody{
    background: #f2f2f2;
}
td{
    padding: 20px;
    font-size: 14px;
    font-size: #333;
}
tr:nth-child(even){
    background: #fff;
}
tfoot{
    background: rgb(0, 102, 102); 
    font-weight: bold;
    color: #fff;
   
}
tfoot td{
    padding: 15px;
    width: 100rem;
}
.table-container button{
    color: blue;
    background: none;
    cursor: pointer;
}
.edit{
   border-radius: 5px;
   background-color: rgb(0, 0, 204);
   color: #fff;
   width: 10px;
   height: 10px;
   text-align: center;
   font-size: 1.2rem;
   padding: .5rem;
}
.supprimer{
    border-radius: 5px;
    background-color:rgb(255, 0, 0);
    color: #fff;
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem; 
}
.voir{
    border-radius: 5px;
    background-color:rgb(0, 128, 0);
    color: #fff;
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem;  
}
.action{
    display: flex;
    gap: 0.2rem;
    
}
.chart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background:white;
  }
  
  .chart-container > div {
    flex: 1;
    max-width: 45%;  /* Réduit la largeur des graphiques */
    margin: 0 10px;
    
  }
  
  .chart-container canvas {
    max-height: 350px; /* Réduit la hauteur des graphiques */
    max-width: 600px;
    
  }
  .suppression{
    color: #000;
    font-size: 1rem;
  }
  .supress{
    margin-left: 22rem;
    margin-top: 1.5rem;
  }
  .oui{
    border-radius: 5px;
    padding: 5px;
    width: 4rem;
    background: #0099ff;
    color: #fff;
  }
  .non{
    background: #ff1e00;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    width: 4rem;
    margin-left: 1rem;
  }