.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(230, 242, 255);
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;

}
.header--title{
    color:#000;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 1;
}

